* {
	box-sizing: border-box;
	margin: 0;
	outline: none;
	padding: 0;
}

*:focus {
	outline: 1px dotted map-get($colors, 'gray');
	outline-offset: 3px;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: sans-serif;
	font-size: 1rem;
	line-height: 1.6rem;
	word-wrap: break-word;
}

::selection {
	background-color: map-get($colors, 'blue');
	color: map-get($colors, 'white');
}
