.hide {
	display: none;
}

.bordered {
	border: 1px solid map-get($colors, 'gray');
}

.padded {
	padding: $spacing;
}

.rounded {
	border-radius: $radius;

	&-circle {
		border-radius: 50%;
	}
}

.underline {
	text-decoration: underline;
}

.larger { font-size: larger; }

.smaller { font-size: smaller; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media screen and (max-width: $breakpoint-sm) {
	.hide-on-sm {
		display: none;
	}
}
