$breakpoint-sm: 768px;
$spacing: 10px;
$colors: (
	'white': #fff,
	'red': #f63,
	'green': #096,
	'blue': #069,
	'cyan': #099,
	'yellow': #ff0,
	'magenta': #9f4576,
	'gray': #888,
	'light-gray': #bbb,
	'black': #000
);

@import 'reset';
@import 'layout';
@import 'theme';
@import 'utils';
@import 'components/base';
@import 'components/tables';
@import 'components/form';
@import 'components/buttons';
@import 'components/spinner';
