h1, h2, h3 {
	margin: $spacing 0;
}

h1 {
	font-size: 3rem;
	line-height: 3 * 1.6rem;
}

h2 {
	font-size: 2rem;
	line-height: 2 * 1.6rem;
}

h3 {
	font-size: 1.5rem;
	line-height: 1.5 * 1.6rem;
}

p {
	padding: $spacing 0;
	text-align: justify;
}

a {
	color: map-get($colors, 'blue');
	text-decoration: underline;

	&:active, &:visited {
		color: map-get($colors, 'magenta');
	}

	&:hover {
		text-decoration: none;
	}

	&:not([href]) {
		color: map-get($colors, 'black');
		text-decoration: none;
	}
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

mark {
	background-color: map-get($colors, 'yellow');
}

del {
	text-decoration: line-through;
}

sub {
	font-size: smaller;
	vertical-align: sub;
}

sup {
	font-size: smaller;
	vertical-align: super;
}

q {
	&::before {
		content: '"';
	}
	&::after {
		content: '"';
	}
}

blockquote {
	padding: $spacing 0;

	footer {
		text-align: right;
	}
}

hr {
	border: 2px solid map-get($colors, 'dark-gray');
	margin: $spacing 0;
}

cite {
	font-style: italic;
}

abbr[title] {
	text-decoration: underline dotted;
}

%style-kbd-code {
	padding: 2px 4px;
	border-radius: $radius;
	font-family: monospace;
}

kbd {
	background-color: map-get($colors, 'black');
	color: map-get($colors, 'white');
	@extend %style-kbd-code;
}

code {
	background-color: map-get($colors, 'light-gray');
	@extend %style-kbd-code;
}

pre.code {
	background-color: map-get($colors, 'light-gray');
	@extend %style-kbd-code;
	margin: $spacing 0;
	overflow-x: auto;
	padding: $spacing;
	user-select: all;
	tab-size: 2;
	-moz-tab-size: 2;
}

ul, ol {
	list-style-position: inside;
}

img {
	max-width: 100%;
	vertical-align: middle;

}

figure {
	display: inline-block;
}

figure figcaption {
	font-size: smaller;
	text-align: center;
}

footer {
	font-size: smaller;
}

details {
	background-color: map-get($colors, 'light-gray');
	border-radius: $radius;
	margin: $spacing 0;

	summary {
		border-bottom: 1px dotted map-get($colors, 'dark-gray');
		cursor: pointer;
		font-weight: bold;
		padding: $spacing;
		user-select: none;
	}

	div {
		margin-left: $spacing;
		padding: $spacing;
	}
}
