@mixin buttonize {
	$c: map-get($colors, 'gray');
	background-color: $c;
	border: 0;
	color: map-get($colors, 'white');
	cursor: pointer;
	padding: 10px 15px;
	user-select: none;

	/* Hover style */
	transition-property: background-color;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;

	&:hover {
		background-color: lighten($c, 10%);
	}

	/* Active style */
	&:active:not(:disabled) {
		background-color: darken($c, 10%);
	}
}

button {
	@include buttonize();

	&[type="submit"] {
		$c: map-get($colors, 'blue');
		background-color: $c;
		color: map-get($colors, 'white');

		&:hover {
			background-color: lighten($c, 10%);
		}

		&:active:not(:disabled) {
			background-color: darken($c, 10%);
		}
	}

	&[type="reset"] {
		$c: map-get($colors, 'red');
		background-color: $c;
		color: map-get($colors, 'white');

		&:hover {
			background-color: lighten($c, 10%);
		}

		&:active:not(:disabled) {
			background-color: darken($c, 10%);
		}
	}

	&[disabled] {
		background-color: map-get($colors, 'light-gray');
		color: map-get($colors, 'dark-gray');
		cursor: not-allowed;
	}
}
