$form-padding: 10px;

form {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: $spacing;
	margin: $spacing 0;

	& > label, fieldset > label {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		span {
			user-select: none;
			margin-bottom: $spacing / 2;
			font-size: smaller;
		}

		input, textarea, select, button {
			font-size: smaller;
		}

		input, textarea, select {
			background-color: map-get($colors, 'white');
			border: 1px solid map-get($colors, 'light-gray');
			font-family: sans-serif;
			padding: $form-padding;
			width: 100%;

			&:disabled {
				background-color: map-get($colors, 'light-gray');
			}

			&:invalid {
				border-color: map-get($colors, 'red');
				box-shadow: none;
			}

			&:focus {
				border-color: map-get($colors, 'blue');
				outline: none;
			}
		}

		select[multiple] {
			max-height: 200px;
			padding: 0;

			option {
				padding: $spacing;
			}
		}

		textarea {
			min-height: 50px;
			max-height: 200px;
			resize: vertical;
		}
	}

	.form-checkbox {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
		width: fit-content;
		width: -moz-fit-content;

		label {
			cursor: pointer;
			display: flex;
			align-items: center;
			user-select: none;
			font-size: smaller;
		}

		input[type="checkbox"] {
			cursor: pointer;
			align-self: center;
			width: auto;
			margin-left: $form-padding;
		}
	}

	button {
		width: fit-content;
		width: -moz-fit-content;
	}

	fieldset {
		border: 1px solid map-get($colors, 'dark-gray');
		padding: {
			left: $form-padding;
			right: $form-padding;
			bottom: $form-padding;
		}

		legend {
			font-size: smaller;
			font-weight: bold;
			padding: 0 5px;
		}

		& > label { margin-bottom: $spacing; }
	}
}
