$form-padding: 5px;

form {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: $spacing;
	margin: $spacing 0;

	label {
		display: flex;
		align-items: flex-start;

		span {
			user-select: none;
			margin-right: 5px;
			padding: $form-padding;
		}

		input, textarea, select {
			background-color: map-get($colors, 'white');
			border: 1px solid map-get($colors, 'gray');
			font-family: sans-serif;
			outline: none;
			padding: $form-padding;
			flex: 1;

			&:focus {
				border-color: map-get($colors, 'blue');

				&:invalid {
					border-color: map-get($colors, 'red');
				}
			}
		}

		textarea {
			max-height: 200px;
			resize: vertical;
		}

		input[type="checkbox"] {
			cursor: pointer;
			flex: 0;
		}
	}

	button {
		width: fit-content;
	}
}
