.table-responsive {
	overflow-x: auto;
}

table {
	font-size: smaller;
	border-collapse: collapse;
	margin: $spacing 0;
	table-layout: fixed;
	width: 100%;
	min-width: 500px;

	&, th, td {
		border: 1px solid map-get($colors, 'black');
	}

	th {
		font-weight: bold;
	}

	th, td {
		padding: 5px;
		text-align: left;
		white-space: nowrap;
		overflow-x: hidden;
		text-overflow: ellipsis;
	}
}
