table {
	border-collapse: collapse;
	margin: $spacing 0;
	table-layout: fixed;

	&, th, td {
		border: 1px solid map-get($colors, 'black');
	}

	th {
		font-weight: bold;
	}

	th, td {
		padding: $spacing;
		text-align: left;
	}
}
