/* Root */
::selection {
	background-color: map-get($colors, 'dark');
	color: map-get($colors, 'light');
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
	scroll-behavior: smooth;
}

body {
	background-color: map-get($colors, 'light');
	color: map-get($colors, 'dark');
	font-family: monospace;
	font-size: 1rem;
	line-height: 1.6rem;
}

/* Headings */
h1, h2, h3 {
	margin: $spacing 0;
}

h1 {
	font-size: 3rem;
	line-height: 3rem * 1.6;
}

h2 {
	font-size: 2rem;
	line-height: 2rem * 1.6;
}

h3 {
	font-size: 1.5rem;
	line-height: 1.5rem * 1.6;
}

/* Paragraphs */
p {
	padding: $spacing 0;
	text-align: justify;
}

/* Hyperlinks */
a {
	color: inherit;
	cursor: pointer;
	font-weight: bold;
	outline: none;
	text-decoration: none;

	&:active {		
		outline: 1px dotted map-get($colors, 'gray');
		outline-offset: 4px;
	}

	&:hover {
		text-decoration: underline;
	}
}

/* Text formatting */
strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

mark {
	background-color: yellow;
}

del {
	text-decoration: line-through;
}

small, sub, sup {
	font-size: smaller;
}

sub {
	vertical-align: sub;
}

sup {
	vertical-align: super;
}

/* Quotations */
abbr {
	&[title] {
		text-decoration: underline dotted;
	}
}

q {
	font-style: italic;
	&::before, &::after {
		content: '"';
	}
}

blockquote {
	border: 1px dashed map-get($colors, 'gray');
	font-style: italic;
	margin: $spacing 0;
	padding: $spacing;
	text-align: justify;

	div {
		text-align: right;
	}
}

address, cite {
	font-style: italic;
}

/* Computer code */
kbd, samp, code, pre {
	font-family: monospace;
	font-weight: bold;
}

.code {
	border: 1px solid map-get($colors, 'dark');
	padding: 0 $spacing;
	overflow: scroll;
	pre {
		tab-size: 2;
	}
}

/* Lists */
ul, ol {
	list-style-position: inside;
}

/* Images */
img {
	max-width: 100%;
	vertical-align: middle;
}

figure {
	figcaption {
		font-size: smaller;
		text-align: center;
	}
}

/* Tables */
.table-responsive {
	max-width: 100%;
	overflow-x: auto;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	border: 1px solid map-get($colors, 'gray');
	padding: $spacing;
	text-align: left;
}

/* Forms */
form {
	display: grid;
	grid-auto-flow: row;
	grid-gap: $spacing;
}

	label {
		font-size: smaller;

		span {
			user-select: none;
			&:first-child {
				display: block;
			}
		}
	}

.checkbox {
	label {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
	}
	input[type="checkbox"] {
		width: auto;
		margin-right: $spacing;
	}
}

.radiogroup {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	& > span {
		font-size: smaller;
		width: 100%;
	}
	label {
		cursor: pointer;
		user-select: none;
		display: inline-flex;
		align-items: center;
		flex-direction: row-reverse;
	}
	input[type="radio"] {
		width: auto;
		margin-right: $spacing;
	}
}

input, textarea, select {
	border: 1px solid map-get($colors, 'gray');
	background-color: map-get($colors, 'light');
	padding: $spacing;
	width: 100%;
	box-shadow: none;
	outline: none;

	&:focus {
		&:not([type="checkbox"]):not([type="radio"]) {
			outline: 2px solid map-get($colors, 'gray');
			outline-offset: 0;
		}
	}

	&:invalid {
		border-color: #f00;
	}

	&:disabled {
		color: map-get($colors, 'gray');
		cursor: not-allowed;
	}
}

textarea {
	height: 100px;
	max-height: 300px;
	resize: vertical;
}

/* Buttons */
button {
	cursor: pointer;
	font-weight: bold;
	border: 1px solid map-get($colors, 'gray');
	color: map-get($colors, 'dark');
	padding: $spacing;
	transition-property: background-color color;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;

	&:hover:not(:disabled) {
		background-color: map-get($colors, 'dark');
		color: map-get($colors, 'light');
	}

	&:disabled {
		cursor: not-allowed;
	}
}

/* Other tags */
hr {
	border: 1px solid map-get($colors, 'gray');
	margin: $spacing 0;
}

footer {
	font-size: smaller;
}

@media screen and (max-width: map-get($breakpoints, 'sm')) {
	body {
		font-size: .9rem;
	}
}
