.bordered {
	border: 1px solid map-get($colors, 'gray');
}

.padded {
	padding: $spacing;
}

.text {
	&-left { text-align: left; }
	&-center { text-align: center; }
	&-right { text-align: right; }
	&-justify { text-align: justify; }

	&-truncate {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

ul.breadcrumbs {
	display: flex;
	list-style-type: none;
	user-select: none;

	li {
		padding: $spacing 0;

		&:not(:last-child)::after {
			content: ' / ';
			color: map-get($colors, 'blue');
			display: inline-block;
			margin: 0 $spacing;
		}

		&:last-child {
			a {
				cursor: initial;
				font-weight: normal;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}

}

@media screen and (max-width: map-get($breakpoints, 'sm')) {
	.hide-on-sm {
		display: none;
	}
}

@media print {
	.hide-on-print {
		display: none;
	}
}
